<!doctype html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block custom_css %}
    {% endblock %}

    <!-- Font Awesome css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<header>
    {% include "/navbar.html.twig" %}
</header>
<body class="background">
    <div id="vueapp">
        {% block body %}
        {% endblock %}
        {% block subbody %}
        {% endblock %}

        <footer class="pagebottom">
            {% block footer %}
            {% endblock %}
        </footer>

    </div>
</body>

{% if debugMode %}
    <script charset="UTF-8" src="/jslib/vue.js"></script>
{% else %}
    <script charset="UTF-8" src="/jslib/vue.min.js"></script>
{% endif %}
<script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script charset="UTF-8" type="text/javascript" data-main="/scripts/main" src="/scripts/require.min.js"></script>
</html>
