@import url("/tinyjukebox.css");

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: lightskyblue;
}

.playingContainerContent {
    margin: 50px;
    color: var(--niceWhite);
    background: rgba(0.2, 0.2, 0.2, 0.2);
}

.landingPopup {
    position: relative;
    z-index: 10 !important;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("/images/landingBackground.png");
    background-size: 100%;
}

.usernameLink {
    text-decoration: none;
    color: var(--niceWhite);
}

.currentQueueText {
    color: var(--niceWhite);
}

#queueContainer {
    color: var(--niceWhite);
}

.loader {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border: solid 10px gray;
    border-bottom-color: cyan;
    border-radius: 50px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.videoSelect {
    animation: fade-in 1s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.need-login {
    color: var(--niceWhite);
    text-align: center;
    font-size: 17pt;
}

.upload-pill.active {
    color: black;
}

.upload-pill {
    color: var(--niceWhite);
}

.volume-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 75%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 4px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    transition: width .2s, height .2s;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
}

.volume-slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    transition: width .2s, height .2s;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
}

.volume-slider::-moz-range-thumb:hover {
    width: 25px;
    height: 25px;
}

.volume-slider::-webkit-slider-thumb:hover {
    width: 25px;
    height: 25px;
}
