@import url("/tinyjukebox.css");

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: lightskyblue;
}

.playingContainerContent {
    margin: 50px;
    color: var(--niceWhite);
    background: rgba(0.2, 0.2, 0.2, 0.2);
}

.landingPopup {
    position: relative;
    z-index: 10 !important;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("/images/landingBackground.png");
    background-size: 100%;
}

.usernameLink {
    text-decoration: none;
    color: var(--niceWhite);
}

.currentQueueText {
    color: var(--niceWhite);
}

#queueContainer {
    color: var(--niceWhite);
}