@import url("/tinyjukebox.css");

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: lightskyblue;
}

.playingContainerContent {
    margin: 50px;
    color: var(--niceWhite);
    background: rgba(0.2, 0.2, 0.2, 0.2);
}

.landingPopup {
    position: relative;
    z-index: 10 !important;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("/images/landingBackground.png");
    background-size: 100%;
}

.usernameLink {
    text-decoration: none;
    color: var(--niceWhite);
}

.currentQueueText {
    color: var(--niceWhite);
}

#queueContainer {
    color: var(--niceWhite);
}

.loader {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border: solid 10px gray;
    border-bottom-color: cyan;
    border-radius: 50px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.videoSelect {
    animation: fade-in 1s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.need-login {
    color: var(--niceWhite);
    text-align: center;
    font-size: 17pt;
}

.upload-pill.active {
    color: black;
}

.upload-pill {
    color: var(--niceWhite);
}