:root {
    --niceWhite: #f0f0f0;
}

#miniQueue {
    position: fixed;
    right: 0;
    --border-size: 2px;
    color: var(--niceWhite);
    border: solid var(--border-size) var(--niceWhite);
    margin-right: calc(var(--border-size) * -1);
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 30%;
}

#miniQueueContainer {
    height: 80%;
    overflow-y: hidden;
}

#miniQueueContainer:hover {
    overflow-y: auto;
}

.miniQueueElement {
    list-style-type: none;
    font-size: 9pt;
}

.pagebottom {
    z-index: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.foreground {
    color: var(--niceWhite);
    background: rgba(0.2, 0.2, 0.2, 0.2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.titleLink {
    text-decoration: none;
    color: var(--niceWhite);
}

.titleLink:hover {
    text-decoration: none;
    color: var(--niceWhite);
    transform: 20pt;
}

.quote {
    margin: -1%;
}

.loadingIcon {
    margin:-50% 0 0 -50%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.full-width {
    width: 100%;
}