{% extends "/users/userlayout.html.twig" %}
{% block title %}
    TinyJukebox - User Unknown
{% endblock %}
{% block body %}
    <h1 class="display-3 username">Unknown user {{ name }}</h1>
    <br/>
{% endblock %}