@import url("/tinyjukebox.css");

.background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("/images/landingBackground.png");
    background-size: 100%;
}

.favoritesText {
    color: var(--niceWhite);
}

.username {
    color: var(--niceWhite);
}